<div class="container">
    <div class="row mt-5">
      <h1>SIA FINAL</h1>
      <div class="col-3 col-md-6 mt-5 div1">
        <h1>Perceptron</h1>
        <div class="div1">
          <button class="btn btn-primary" (click)="entrenarPerceptronNoVectorizado()">Entrenar</button>
          <button class="btn btn-secondary" (click)="predecir()">Predecir</button>
        </div>
      </div>
      <div class="col-3 col-md-6 mt-5 div1">
        <h1>Perceptron Vectorizado</h1>
        <div class="div1">
          <button class="btn btn-primary">Entrenar</button>
          <button class="btn btn-secondary">Predecir</button>
        </div>
      </div>
      <div class="col-3 col-md-6 mt-5 div1">
        <h1>Backpropagation</h1>
        <div class="div1">
          <button class="btn btn-primary">Entrenar</button>
          <button class="btn btn-secondary">Predecir</button>
        </div>
      </div>
      <div class="col-3 col-md-6 mt-5 div1">
        <h1>Backpropagation Vectorizado</h1>
        <div class="div1">
          <button class="btn btn-primary">Entrenar</button>
          <button class="btn btn-secondary">Predecir</button>
        </div>
      </div>
    </div>
  </div>